/*! sanitize.css v2.0.0 | CC0 1.0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300); 

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
}

details {
  display: block;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
  color: #000000;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #4c2b03;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #4c2b03;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slick-next{right:5px}.slick-prev{left:5px;z-index:99}.slick-next,.slick-prev{display:none !important}.slick-dots{bottom:20px}

body{margin:0 auto;font-size:18px;line-height:120%;color:#000;font-family: 'Open Sans', sans-serif; font-weight:300 }

body .nosotros h1,body .servicios h1,body .brands h1,body .contacto h1,body .nosotros p,body .servicios p,body .brands p,body .contacto p{padding-left:17px;padding-right:17px}
body .nosotros img,body .servicios img,body .brands img,body .contacto img{width:100%}
body .nosotros h1,body .servicios h1,body .brands h1,body .contacto h1{margin-top:40px;font-size:44px;line-height:50px;font-family:"Open Sans";font-weight:lighter;}
body .nosotros h1+p,body .servicios h1+p,body .brands h1+p,body .contacto h1+p{margin-top:20px;margin-bottom:20px;font-size:22px;color:#a9a5a4;font-family:"Open Sans";font-weight:lighter}
body .nosotros p,body .servicios p,body .brands p,body .contacto p{font-size:20px;font-family:"Open Sans";font-weight:bold;line-height:30px}
body .nosotros .item,body .servicios .item,body .brands .item,body .contacto .item{font-family:"Open Sans";display:inline-block;margin-right:-4px;width:50%;position:relative;text-align:center;vertical-align:top;}
body .nosotros .item .title,body .servicios .item .title,body .brands .item .title,body .contacto .item .title{font-size:20px;font-weight:800}
body .nosotros .item .body,body .servicios .item .body,body .brands .item .body,body .contacto .item .body{color:#737478;font:600 18.75px/33.333px Open Sans}
body .nosotros .item:nth-child(3) .content,body .servicios .item:nth-child(3) .content,body .brands .item:nth-child(3) .content,body .contacto .item:nth-child(3) .content,body .nosotros .item:nth-child(4) .content,body .servicios .item:nth-child(4) .content,body .brands .item:nth-child(4) .content,body .contacto .item:nth-child(4) .content{padding-top:70px;padding-bottom:40px}body .nosotros .item:nth-child(5) .content,body .servicios .item:nth-child(5) .content,body .brands .item:nth-child(5) .content,body .contacto .item:nth-child(5) .content,body .nosotros .item:nth-child(6) .content,body .servicios .item:nth-child(6) .content,body .brands .item:nth-child(6) .content,body .contacto .item:nth-child(6) .content{padding-top:55px;padding-bottom:40px}

body .nosotros img{margin-top:50px}body>header{padding: 0px 80px; position:absolute;top:0;left:0;width:100%;height:100px;z-index:4;}
body>header .logo{width:120px}

body>header .dropdown{ display:none; cursor:pointer;width:40px;height:40px;background-image:url("../imagenes/showMenu/bg_black.png"),url("../imagenes/showMenu/Burgermenu.png");background-size:40px 40px,20px 15px;background-position:center center;background-repeat:no-repeat;position:absolute;right:20px;top:25px}

/*body .mainMenu{display:none;position:fixed;top:130px;padding:0;margin:0;width:100%;}
body .mainMenu li{background-color:rgba(0,0,0,0.2);padding-top:10px;padding-bottom:10px;text-align:center;border-bottom:1px solid #fff;list-style-type:none;}
body .mainMenu li a{text-transform:capitalize;color:#fff;text-decoration:none;font-size:20px}*/

body .mainMenu{right: 80px;position: absolute;z-index: 9;}
body .mainMenu li{text-align:center;list-style-type:none; display:inline-block; width: 120px;height: 140px;padding-top:35px;}
body .mainMenu li:hover{ background:#01BACF; }
.menuOver{ background:#01BACF; }
body .mainMenu li a{text-transform:capitalize;color:#fff;text-decoration:none;font-size:20px}
body .mainMenu li img{margin-top: 15px;width: 35px;}

body .htitle{ position: absolute;z-index: 9;padding: 0px 80px;text-align: center;width: 100%;top: 300px; }
body .htitle h2{color: #FFFFFF;font-size: 60px;font-weight: 300;line-height: 70px;}
body .htitle h2 span{font-weight: bold;border-bottom: 4px solid #00B9D0;}
body .htitle p{color: #FFF;padding: 50px 0px;font-size: 30px;line-height: 38px;}

body .slick img{width:100%}

body .nosotros{padding:0px 80px; overflow:hidden !important}
body .nosotros h1{color:#484741;}
body .nosotros p{ width:60%}
body .nosotros img{ width:35%; float:right; margin-top:-200px; margin-bottom:40px}

body .servicios{padding:0px 80px;padding-bottom: 20px;overflow:hidden !important; background:#FAFAFA}
body .servicios>p{ width:36% }
body .servicios h1{color:#4fa7bb;font:300 44.72px 'Open Sans'}
body .servicios .items{ width:60%; margin-top: -180px;float: right;}
body .servicios .item .content{ padding:0px 40px }
body .servicios .item img{ width:130px; margin-bottom:40px }
body .servicios .item+img+p{margin-bottom:20px}
body .servicios>p+p{color:#47453e;font:700 19.27px/29.81px Helvetica}

body .brands{ padding:0px 250px 100px 250px }
body .brands h1{color:#727478;font-size:20px;text-align:center;font-family:'Open Sans'}
body .brands p.title{font-size:44px;padding-bottom: 50px;background: url(../imagenes/break.png) no-repeat center 100%;font-weight:bolder;font-family:'Open Sans';text-align:center;color:#47453e}
body .brands .item{display:inline-block;margin-right:-4px;width:33%;height:initial !important;}
body .brands .item:nth-child(odd){padding-left:18px}

body .contacto{padding-top:30px;padding-left:18px;padding-right:18px;padding-bottom:55px;background-color:#38444e;color:#fff;}
body .contacto button{height:3.5em}
body .contacto h1{padding:0}
body .contacto input,body .contacto textarea{background-color:#fff;height:2em;display:block;width:100%;margin-top:32px;font-family:'Open Sans';font-size:1em;line-height:1.5em;font-weight:lighter;padding-left:26px;color:#38444e}
body .contacto textarea{height:7em;line-height:2em}
body .contacto .menu{border-bottom:1px solid #fff;border-top:0px solid #fff;padding-bottom:.5em;}
body .contacto .menu li{display:inline-block;padding-left:1.3em; margin-bottom:20px}
body .contacto .menu li:first-child{padding-left:0}
body .contacto .menu li a{font-weight:bold; text-decoration:none; color:#FFF}
body .contacto .resp{display:none}
body .contacto .full{width:60%;display:inline-block;vertical-align:middle;}
body .contacto form.full{margin-top: 30px;}
body .contacto .full .col{width:50%;margin-right:-4px;display:inline-block;vertical-align:top;}
body .contacto .full .col input{margin-top:.5em;}
body .contacto .full .col input:first-child{margin-top:0}
body .contacto .full .col button{margin-top:1em; background: #B82515;padding: 0px 2em;font-weight: bold;}
body .contacto .full .col textarea{margin-top:0;margin-left:1em}
body .contacto .rights{width: 35%;padding-left: 80px;display: inline-block;vertical-align: top;margin-top: -100px;}
body .contacto .rights p{margin-bottom:20px; font-weight:300 }
body .contacto .rights p.title{margin-top:0}
body .legal{background: #018498;color: white;font-weight: bold;padding: 24px 0px;}
body .legal p{text-align:center}
	
/*@media screen and (m-width:1024px){
	body{background: red;}
	body .contacto{padding-left:80px;padding-right:80px;}
	body .contacto h1{padding:0}
	body .contacto input,body .contacto textarea{background-color:#fff;height:2em;display:block;width:100%;margin-top:32px;font-family:'Open Sans';font-size:1em;line-height:1.5em;font-weight:lighter;padding-left:26px;color:#38444e}
	body .contacto textarea{height:7em;line-height:2em}
	body .contacto button{background-color:#9e291b;color:#fff;margin-top:42px;text-align:cennter;font-family:'Open Sans';font-weight:bolder;width:100%;height:3em;cursor:pointer}
	
	body .contacto .rights font,body .contacto .rights p{font-weight:200;color:#fff;font-size:19px;padding:0;line-height:21px;}
	body .contacto .rights font.title,body .contacto .rights p.title{text-transform:uppercase;margin-bottom:36px}
	body .contacto .rights p.title,body .contacto .rights span{font-family:'Open Sans';font-size:19px;font-weight:bold;color:#fff}
	body .contacto .rights p.digital{margin-top:30px}
	body .legal{height:96px;width:100%;background-color:#198297;}
	body .legal p{color:#fff;line-height:96px;text-align:center;color:#fff;font-family:'Open Sans';font-size:.8rem;font-weight:bold}
}*/
@media screen and (max-width : 1024px) {
	body header{background-color:rgba(255,255,255,0.2);}
	body .servicios, body .nosotros, body .home{ padding:0px 20px  }
	body .servicios{ padding-bottom:50px }
	body .brands {padding: 0px 20px 100px 20px;}
	.logo img{ width:150px; }
	body>header .dropdown{ display:block; }
	body .home{ position:fixed }
    body .mainMenu{display:none;position:fixed;top:100px;padding:0;margin:0;width:100%;right:0px; }
	body .mainMenu li{width:100%;height:auto;background-color:rgba(0,0,0,0.7);padding-top:10px;padding-bottom:10px;text-align:center;border-bottom:1px solid #fff;list-style-type:none;}
	body .mainMenu li a{text-transform:capitalize;color:#fff;text-decoration:none;font-size:20px}
	body .mainMenu li img{display:none}
	body .htitle{top: 250px; padding:0px 20px}
	body .htitle h2{font-size: 45px;}
	body .htitle p{ display:none }
	body .nosotros p, body .servicios p, body .servicios .items{width: 100%;}
	body .nosotros img {width: 100%;margin-top: 40px;margin-bottom: 40px;}
	body .servicios .items{width:100%;margin-top: 40px;margin-bottom: 40px;padding-top: 40px;border-top: #4fa7bb 2px solid;border-bottom: #4fa7bb 2px solid;}
    body .brands .item {width: 50%;}
	body .brands p.title{background:none}
	body .contacto .resp{display:block}
	body .contacto .full{display:none}
	body .contacto .rights {width: 100%;padding-left: 0px; margin-top:0px; }
	body .contacto h1{margin-top:0px;}
	body .contacto .menu li {display: block;padding-left: 0px;margin-bottom: 30px;}
	body .contacto .menu li a{ font-size:36px; font-weight:300}
	body .contacto .menu{ border-bottom:0px; border-top: 1px solid #FFF;padding: 40px 0px;}
	body .contacto p{ font-weight:300; padding:0px }
	body .contacto button {height: 3.5em;background: #B82515;width: 100%;margin: 30px 0px;font-weight: bold;}
}